block content
  .about-page
    h1 About Me
    p Welcome to my blog! I'm Junjie Shen, a graduate student at University of Science and Technology of China.
    
    h2 My Background
    p Update soon.
    
    h2 Topics I Write About
    ul
      li Algorithm
      li Daily Notes
      li Useful tools and cheatsheet

    h2 Stay Connected
    p I always love connecting with other professionals and learners in the tech field! Feel free to reach out through my social media profiles linked below or leave a comment on any post.
    
